<hp-transaction-results data-transactions="vm.form.transactions"
                        data-transactions-per-page="vm.form.transactionsPerPage"
                        data-display-type="vm.resultDisplay">
</hp-transaction-results>

<form>
    <div>
        <div id="parameters-section" class="title-panel">
            Search Parameters
        </div>

        <div class="panel-body tabbed">
            <hp-tab-set>
                <hp-tab data-heading="Process"
                        data-tab-click="vm.setSearchType(value)"
                        data-click-param="process">

                    <div id="process">
                        <div>
                            <div class="label">
                                <span>Process</span>
                            </div>

                            <select name="process"
                                    ng-model="vm.form.process">
                                <option value="{{vm.ALL}}" selected>--All--</option>
                                <option value="{{process}}" ng-repeat="process in vm.processList | unique: 'process' | orderBy">{{process}}</option>
                            </select>
                        </div>
                    </div>
                </hp-tab>

                <hp-tab data-heading="Client"
                        data-tab-click="vm.setSearchType(value)"
                        data-click-param="client">

                    <div id="client">
                        <div>
                            <div class="label">
                                <span>Client</span>
                            </div>
                            <select ng-model="vm.form.client">
                                <option value="{{vm.ALL}}" selected>--All--</option>
                                <option value="{{client}}" ng-repeat="client in vm.clientList | unique: 'client' | orderBy">{{client}}</option>
                            </select>
                        </div>
                    </div>
                </hp-tab>

                <hp-tab data-heading="Source"
                        data-tab-click="vm.setSearchType(value)"
                        data-click-param="source">

                    <div id="source">
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="label">
                                        <span>Source</span>
                                    </div>
                                    <select ng-model="vm.form.source">
                                        <option value="{{vm.ALL}}" ng-selected="selected">--All--</option>
                                        <option value="{{client}}" ng-repeat="client in vm.clientList | unique: 'client' | orderBy">{{client}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <div class="label">
                                        <span>Destination</span>
                                    </div>
                                    <div>
                                        <select ng-model="vm.form.destination">
                                            <option value="{{vm.ALL}}" selected>--All--</option>
                                            <option value="{{client}}" ng-repeat="client in vm.clientList | unique: 'client' | orderBy">{{client}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="label">
                                        <span>Transaction Type</span>
                                    </div>
                                    <div>
                                        <select ng-model="vm.form.transactionType">
                                            <option value="{{vm.ALL}}" selected>--All--</option>
                                            <option value="{{transactionType}}" ng-repeat="transactionType in vm.transactionTypeList | unique: 'transactionType' | orderBy">{{transactionType}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </hp-tab>
            </hp-tab-set>
        </div>
    </div>

    <div>
        <div id="refine-title" class="title-panel">
            <button type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">Transaction Details</button>
        </div>
        <!--<div class="panel-body">
            {{vm.query}}
        </div>-->
        <div id="details"
             class="collapse show">
            <div id="refine-section"
                 class="panel-body">
                <div class="row">
                    <div class="col-6 right-border padded-section">
                        <div class="">
                            <div class="row">
                                <div class="col-6">
                                    <div class="label">
                                        Start Time
                                    </div>
                                    <input type="datetime-local" ng-model="vm.form.startTime" />
                                </div>

                                <div class="col-6">
                                    <div class="label">
                                        End Time
                                    </div>
                                    <input type="datetime-local" ng-model="vm.form.endTime" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 padded-section">
                        <div class="">
                            <div class="row">
                                <div class="col-6">
                                    <div class="label">
                                        Min Elapsed Time (s)
                                    </div>
                                    <input type="number" min="0" ng-model="vm.form.minTime" />
                                </div>

                                <div class="col-6">
                                    <div class="label">
                                        Max Elapsed Time (s)
                                    </div>
                                    <input type="number" min="0" ng-model="vm.form.maxTime" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <div class="col-6 right-border padded-section">
                        <div class="row">
                            <div class="col-6">
                                <div class="">
                                    <div class="label">
                                        Ping Options
                                    </div>
                                    <select ng-model="vm.form.pingOptions">
                                        <option selected value="{{vm.ALL}}">All Transactions</option>
                                        <option value="Y">Only Pings</option>
                                        <option value="N">Exclude Pings</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div>
                                    <div class="label">
                                        Success Status
                                    </div>
                                    <select ng-model="vm.form.failed">
                                        <option selected value="{{vm.ALL}}">--All--</option>
                                        <option value="Y">Successful</option>
                                        <option value="N">Unsuccessful</option>
                                        <option value="null">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 padded-section">
                        <div class="row">
                            <div class="col-6">
                                <div class="label">
                                    Server Name
                                </div>
                                <input type="text" ng-model="vm.form.serverName" />
                            </div>

                            <div class="col-6">
                                <div class="label">
                                    Session ID
                                </div>
                                <input type="text" ng-model="vm.form.sessionID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title-panel">
        <button type="button" data-toggle="collapse" data-target="#lookup-section">Lookup</button>
    </div>

    <div id="lookup-section"
         class="panel-body tabbed collapse">
        <hp-tab-set>
            <hp-tab data-heading="Coverage"
                    data-tab-click="vm.setLookupType(value)"
                    data-click-param="coverage">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Policy Number
                        </div>
                        <input type="text" ng-model="vm.form.policyNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Claim Number
                        </div>
                        <input type="text" ng-model="vm.form.claimNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Referral Number
                        </div>
                        <input type="text" ng-model="vm.form.referralNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            FNOL Number
                        </div>
                        <input type="text" ng-model="vm.form.fnolNumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            CSR
                        </div>
                        <input type="text" ng-model="vm.form.csr" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Sub-Company
                        </div>
                        <input type="text" ng-model="vm.form.subCompany" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Referral Date
                        </div>
                        <input type="date" ng-model="vm.form.referralDate" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Part Number
                        </div>
                        <input type="text" ng-model="vm.form.partNumber" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Zip Code
                        </div>
                        <input type="text" ng-model="vm.form.zipCode" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Car ID
                        </div>
                        <input type="text" ng-model="vm.form.carID" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Promo Code
                        </div>
                        <input type="text" ng-model="vm.form.promoCode" />
                    </div>
                </div>
            </hp-tab>

            <hp-tab data-heading="Credit Card"
                    data-tab-click="vm.setLookupType(value)"
                    data-click-param="creditCard">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Card Number(last 4)
                        </div>
                        <input type="number" min="0" ng-model="vm.form.creditCardNumber" />
                    </div>
                    <div class="col-3">
                        <div class="label">
                            Amount
                        </div>
                        <input type="number" min="0" ng-model="vm.form.amount" />
                    </div>
                    <div class="col-3">
                        <div class="label">
                            CTU
                        </div>
                        <input type="text" ng-model="vm.form.ctu" />
                    </div>
                    <div class="col-3">
                        <div class="label">
                            Work Order Number
                        </div>
                        <input type="text" ng-model="vm.form.workOrderNumber" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Authorization Code
                        </div>
                        <input type="text" ng-model="vm.form.authorizationCode" />
                    </div>
                    <div class="col-3">
                        <div class="label">
                            Work Order Id
                        </div>
                        <input type="text" ng-model="vm.form.workOrderID" />
                    </div>
                </div>
            </hp-tab>

            <hp-tab data-heading="Wholesale"
                    data-tab-click="vm.setLookupType(value)"
                    data-click-param="wholesale">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Account Number
                        </div>
                        <input type="text" ng-model="vm.form.accountNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Warehouse Number
                        </div>
                        <input type="text" ng-model="vm.form.warehouseNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Order ID
                        </div>
                        <input type="text" ng-model="vm.form.orderID" />
                    </div>
                </div>
            </hp-tab>

            <hp-tab data-heading="Shop"
                    data-tab-click="vm.setLookupType(value)"
                    data-click-param="shop">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Invoice Number
                        </div>
                        <input type="text" ng-model="vm.form.invoiceNumber" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Shop Number
                        </div>
                        <input type="text" ng-model="vm.form.shopNumber" />
                    </div>
                </div>
            </hp-tab>

            <hp-tab data-heading="Generic"
                    data-tab-click="vm.setLookupType(value)"
                    data-click-param="generic">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Search String
                        </div>
                        <input type="text" ng-model="vm.form.genericSearchString" />
                    </div>

                    <div class="col-3">
                        <div class="label">
                            Checkpoint
                        </div>
                        <select ng-model="vm.form.checkpoint">
                            <option value="{{vm.ALL}}">--All--</option>
                            <option value="INBOUND_REQUEST">Inbound Request</option>
                            <option value="OUTBOUND_REQUEST">Outbound Request</option>
                            <option value="INBOUND_RESPONSE">Inbound Response</option>
                            <option value="OUTBOUND_RESPONSE">Outbound Response</option>
                            <option value="INTRAHUB_REQUEST">Intra hub Request</option>
                            <option value="INTRAHUB_RESPONSE">Intra hub Response</option>
                        </select>
                    </div>

                    <div class="col-6">
                        <div class="label v-middle">
                            Exclude search string from transaction?
                            <input style="margin-left: 15px;"
                                   type="checkbox"
                                   ng-model="vm.form.excludeGenericString"
                                   ng-click="vm.form.excludeGenericString = !vm.form.excludeGenericString;"
                                   checked>
                        </div>
                    </div>
                </div>
            </hp-tab>
        </hp-tab-set>
    </div>

    <div>
        <div class="title-panel">
            <button type="button" data-toggle="collapse" data-target="#output" aria-expanded="false">Output</button>
        </div>
        <div id="output"
             class="collapse">
            <div id="output-section"
                 class="panel-body">
                <div class="row">
                    <div class="col-3">
                        <div class="label">
                            Full Listing:
                            <input style="margin-left: 15px;"
                                   type="radio"
                                   value="list"
                                   ng-model="vm.resultDisplay">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="label">
                            Count Only:
                            <input style="margin-left: 15px;"
                                   type="radio"
                                   value="count"
                                   ng-model="vm.resultDisplay">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="label">
                            Transactions Per Page: &nbsp;
                            <select ng-model="vm.form.transactionsPerPage" ng-change="vm.updatePagination()">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="submit-panel" class="text-center">
        <button id="submit-button" ng-disabled="vm.loading" class="btn btn-submit"
                ng-click="vm.submit()">
            <span ng-hide="vm.loading">Submit</span>
            <span ng-show="vm.loading">Searching...</span>
        </button>
    </div>
</form>
